body{
    background-image: url("../images/Grass_Type.webp");
    background-repeat: repeat;

}

header{
    background-color: #ffffff;
   padding: 1rem;
   border-bottom: 5px solid black;
    position: sticky;
    top: 0;
    z-index: 10000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}
.lookup-icon{
    font-size: 28px;
}
.search-bar {
  text-align: center;
 
}

#searchInput {
  padding: 8px 12px;
  font-size: 16px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.content{
    width: 100%;
    max-width: 1365px;
    margin: auto;
    background-color: #c8eeca27;
}
.content #pokemonList{
    max-width: 100%;
    padding-top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}


.pokemon-card{
    padding: 1rem;
    border-width: 12px;
    border-style:groove;
    border-color: var(--grass-light);
    border-radius: 16px;
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--grass-light);
     perspective: 1000px;
    overflow: hidden;
    position: relative; 
    transform-style: preserve-3d;
    transition: transform 0.6s;
    cursor: pointer;
    -webkit-box-shadow: -7px 12px 27px 5px rgba(0,0,0,0.85); 
box-shadow: -7px 12px 27px 5px rgba(0,0,0,0.85);
}
.name{
    text-transform: capitalize;
    font-weight: 900;
    font-size: 26px;
}

.info-container :nth-child(2){
    color: rgb(117, 117, 117);
    font-weight: 800;
}

.info-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.type-container{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.type-container li{
    padding: 3px;
    font-weight: 600;
    width: 80px;
    border-radius: 12px;
    
}

.pokemon-card  img{
    max-width: 100%;
    height: 175px;
    align-self: center;

}


.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.pokemon-card.flipped {
  -webkit-transform: rotateY(180deg);
}
.card-front{
    -webkit-transform:rotateY(0deg);
    justify-content: space-between;
}
.pokemon-card > .card-front,
.pokemon-card > .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  
   transition: transform 0.4s ease;
 backface-visibility: hidden;
 
  border-radius: 16px;
}



.fipped .card-back {
  transform: rotateY(180deg);
  background-color: inherit;
  align-items: center;
  justify-content: space-around;
 
 
}

.pokemon-card:not(.flipped) .card-back {
  visibility: hidden;
}

.flipped .card-front{
    transform: rotateY(0deg);

    visibility: hidden;}

 .card-back{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1) ;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   
}
.card-back h3{
        font-size: 28px;
        align-self: center;
}
.card-back .stats{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card-back .stats li{
    padding: 5px;
    font-weight: 900;
    font-size: 18px;
    letter-spacing: 1px;
    background: #ffffff;
background: linear-gradient(100deg,rgba(255, 255, 255, 0.86) 0%, rgba(255, 255, 255, 0.4) 100%);
    
}
.stats li span:nth-of-type(2){
    float: right;
}

.not-found {
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  background-color: rgba(0, 0, 0, 0.479);
  width: 80vw;
  max-width: 500px;
  padding: 1rem;
  text-align: center;
  border-radius: 8px;
  color: white;
  font-size: 1.4rem;
}